<h2>Login</h2>
<form id="login">
    <input type="text" placeholder="username" id="loginUsername">
    <input type="text" placeholder="password" id="loginPassword">
    <button>Login!</button>
</form>
<div>
    <a href="/signup">Signup instead</a>
</div>
<script src="/js/login.js"></script>