<h2>Signup</h2>
<form id="login">
    <input type="text" placeholder="username" id="signupUsername">
    <input type="text" placeholder="password" id="signupPassword">
    <button>Signup!</button>
</form>
<div>
    <a href="/login">Login instead</a>
</div>